__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
*.log
*.aux
*.out
*.pdf
*.synctex.gz
.DS_Store
Thumbs.db
*.ipynb_checkpoints/
.ipynb_checkpoints
GHOST_outputs/
*.csv
*.pt
*.pkl
